*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 500px;
}

section header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.logo{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

.logo span{
    color:#6b0596;
}

section header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 10px 25px;
    border: 1px solid #6b0596;
    border-radius: 30px;
    transition: 0.3s;
}

section header ul:hover{
    text-decoration: none;
    background: #ffffff;
}

 .coder{
    display: flex;
 }

 .coder li{
    list-style: none;
    position: relative;
}

.coder a{
    color: #6b0596;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.coder p{
    color: #6b0596;
}

.coder a:hover{
    border: 1px solid #6b0596;
    border-radius: 30px;
    color: #2c043d;
}

.coder ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding:0 ;
}

.coder li:hover > ul{
    display: block;
}

.coder ul ul{
    display: none;
    top: 100%;
    left: 100%
}

section .texts h1{
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 100px;
    color: #333333;
}

section .texts h1 span{
    color: #6b0596;
}

.about hr{
    margin: 50px;
}

.about{
    width: 100%;
    height: 1500px;
    padding: 50px;
}

div#first_hide, div#second_hide, div#third_hide {
    color: black;
    border: solid #6b0596;
    width: 1350px;
    font-size: 30px;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    background: #ffffff;
} 
p#first, p#second, p#third {
    color: #ffffff;
    font-size: 30px;
    width: 500px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    background: #6b0596;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

p#first:hover, p#second:hover, p#third:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 40px;
}
p#first_after, p#second_after, p#third_after {
    color: #ffffff;
    font-size: 30px;
    width: 500px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    background: #6b0596;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

p#first_after:hover, p#second_after:hover, p#third_after:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 40px;
}

.footer{
    margin-bottom: -50px;
    background: #6b0596;
    padding: 50px;
}

.footer .main{
    width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.main ul li{
    margin-bottom: 20px;
}

.main ul li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
